@page "/sair"
@layout HeadlessLayout
@inherits LogoutPage

<PageTitle>BlazorWasmAuth - Sair</PageTitle>

<MudText Typo="Typo.h3">Finalizando Sessão...</MudText>
<MudPaper Class="pa-8 mt-4">
    <div class="d-flex justify-center pb-8 pt-8">
        <MudText Typo="Typo.h4" Class="d-flex align-items-center">
            <MudIcon Icon="@Icons.Material.Filled.LocalShipping" Size="Size.Large" Class="mr-2" Color="Color.Primary" />
            Wms App
        </MudText>
    </div>
    <MudAlert Severity="Severity.Info">
        <div>
            Sessão Finalizada...
            <MudButton Variant="Variant.Text" Href="/">
                IR PARA TELA DE LOGIN
            </MudButton>
        </div>
    </MudAlert>
</MudPaper>