<div class="d-flex justify-center pb-8 pt-8">
    <MudText Typo="Typo.h5" Class="d-flex align-items-center">
        <MudIcon Icon="@Icons.Material.Filled.LocalShipping" Size="Size.Large" Class="mr-2" Color="Color.Primary" />
        Blazor Wasm Auth
    </MudText>
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/sair">Sair</MudNavLink>
</MudNavMenu>